# House Price Prediction Using Linear Regression

## Importing Packages

In [12]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

## reading data

In [15]:
data = pd.read_csv("house.csv")
data.isnull().sum()
data.drop(['sqft_above'],axis = 'columns',inplace = True)
con_date=[1 if values == 2014 else 0 for values in data.date]
data['date']=con_date

In [16]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,0,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,0,180000.0,2,1.00,770,10000,1.0,0,0,3,6,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,0,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,0,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,0,1987,0,98074,47.6168,-122.045,1800,7503

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  int64
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_basement  21613 non-null  int64
 13  yr_built       21613 non-null  int64
 14  yr_renovated   21613 non-null  int64
 15  zipcode        21613 non-null  int64
 16  lat            21613 non-null  float64
 17  long           21613 non-null  float64
 18  sqft_living15  21613 non-null  int64
 19  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15)
memory usage: 3.3 MB

## Convert String to numerical data

In [18]:
y = data[['price']].values
x=data.drop(['id','price'], axis = 1).values

## Split the data into train data and test data

In [19]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2)

## Define and train(fit) the linear regression model using training data

In [20]:
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

## Test(predict) the output for the test data using the fitted model

In [21]:
y_predict = model.predict(x_test)
print(y_predict)
print(y_test)

[[201701.86786574]
 [919982.2132212 ]
 [994920.40323619]
 ...
 [716089.26395894]
 [445533.71833646]
 [470666.60827051]]
[[133000.]
 [814842.]
 [865000.]
 ...
 [574950.]
 [359500.]
 [548000.]]

## Determine the performance of the model using suitable metric

In [22]:
print("coefficient of determination: %.3f" % r2_score(y_test,y_predict))

coefficient of determination: 0.724